<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/General.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <title>@ViewData["Title"] - StoreSite</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Website Template</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" asp-area="" asp-controller="Store" asp-action="Listings">Listings</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Technologies">Technologies</a>
                        </li>
                        <li class="dropdown nav-item ml-sm-2 ml-lg-3">
                            <button class="dropbtn">Admin Section</button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" asp-controller="Store" asp-action="CurrentStock">Current Stock</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>

                    <form class="form-inline my-2 my-md-0 w-60">
                        <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    <div class="bg-light pt-2" id="Main">
        <main role="main" class="mt-5">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top container-fluid pt-3 pb-5">
        <div class="col-12 row">
            <div class="col-6 float-left">
                <strong>@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Day - Store Site</strong>
            </div>
            <div class="col-6 ">
                <label class="float-right"><a asp-area="" asp-controller="Home" asp-action="Privacy">Our Privacy Policy</a> -  <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a></label>
            </div>
        </div>
    </footer>*@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/NavBar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>