@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown nav-item ml-sm-2 ml-lg-3">
            <button class="dropbtn">Account</button>
            <div class="dropdown-content">
                <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
                <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link ">Logout</button>
                </form>
            </div>
        </li>

        
    }
    else
    {
        <li class="dropdown nav-item ml-sm-2 ml-lg-3">
            <button class="dropbtn">Account</button>
            <div class="dropdown-content">
                <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Register">Register</a>

                <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Login">Login</a>

            </div>
        </li>

    }
</ul>
