@model IEnumerable<StoreSite.Models.Classes.StoreItem>


@{
    ViewData["Title"] = "CurrentStock";
}

<h1>CurrentStock</h1>

@foreach (var item in Model)
{
    <div class="col-md-4 listing">
        <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" src="~/Images/Product Images/@Html.DisplayFor(n => item.ImageS)" />
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(model => item.Title)</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                    </div>
                    <small class="text-muted">@Html.DisplayFor(model => item.ID)</small>
                </div>
            </div>
        </div>
    </div>
}