@{
    ViewData["Title"] = "LocalArea";
}

<div class="col-12 row" style="margin-top:20px; margin-bottom:20px;">

    <div class="col-5 rounded" style="background-image: url('../images/back garden 1.jpg'); min-height:200px; margin-right:8%;">

    </div>
    <div class="col-5 rounded" style="background-image: url('../images/back garden 2.jpg'); min-height:200px; right:0; margin-left:8%;">

    </div>

</div>
<div class="col-12 container" style="margin-top:10px; margin-bottom:10px;">
    <h2>The Area</h2>
    <p>
        There are plenty of walking routes that can be accessed from the Cottage as well as many stunning walks nearby including walking to the top of the witches hat at Roseberry Toppin, following the route of the Cleveland Way along the coast or just strolling through some of the most beautiful countryside the North York Mors has to offer.
    </p>
</div>

<div class="col-12 row" style="margin-bottom:20px;">
    <div class="col-7 rounded" style="margin-right:10px">
        <h3>Great Ayton</h3>
        <p>
            This is a perfect location from which to explore the national park as well as the Heritage Coast of Yorkshire and the many nearby villages. Great Ayton is a wonderful place for picnics and feeding the ducks, and the streets are lined with tea rooms and fascinating shops. Captain James Cook was born here and a visit to the museum is a must.
        </p>
    </div>
    <div class="col-4 rounded" style="background-image: url('../images/back garden 2.jpg'); min-height:200px; right:0;">
    </div>
</div>

<div class="col-12 row" style="margin-bottom:20px;">
    <div class="col-7 rounded" style="margin-right:10px">
        <h3>Danby</h3>
        <p>
            The national park visitors centre at Danby is worth a visit with lots of things to do for the whole family, explore one of the numerous abbeys nearby or even take a trip on a steam train through the countryside.
        </p>
            </div>
    <div class="col-4 rounded" style="background-image: url('../images/back garden 2.jpg'); min-height:200px; right:0;">
    </div>
</div>

<div class="col-12 row" style="margin-bottom:20px;">
    <div class="col-7 rounded" style="margin-right:10px">
        <h3>Whitby</h3>
        <p>
            There are many coastal villages hidden in bays and coves along the Heritage Coast such as the Staithes, Robin Hoods bay and Runswick bay, but most famously is probably the popular fishing town of Whitby with its cobbled shopping streets, the towering abbey and its links to Count Dracula. <br/>
            There are many country pubs in the area with a wide range of menus on offer from Thai to streak houses as well as quaint tearooms and ice cream parlours in villages such as Stokesley, Helmsley and Pickering. <br/>
            For those wishing to get out and about a little further afield there are plenty of things to see and do such as the Beamish Open Air Museum, Eden Camp War Museum and the walled city of York all within easy diving distances. Beach 18 1/4 miles. Shop 2 miles, pub and restaurant 1 1/2 miles.
        </p>
    </div>
    <div class="col-4 rounded" style="background-image: url('../images/back garden 2.jpg'); min-height:200px; right:0;">
    </div>
</div>

<div class="col-12 row" style="margin-bottom:20px;">
    <div class="col-7 rounded" style="margin-right:10px">
        <h3>Local Area</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-4 rounded" style="background-image: url('../images/back garden 2.jpg'); min-height:200px; right:0;">

    </div>

</div>