
@{
    ViewData["Title"] = "About";
}
<div style="margin-top:50px;">
    <h1>The Cottage</h1>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Ground Floor</h2>
        <p class="lead">Entrance vestibule with coat hooks leading to...</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Images/Front of House.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" title="The front of the house view"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dining Room</h2>
        <p class="lead">Large extendable dining table seating up to 8. Highchair available if required.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Images/Main Room.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" title="The dining room" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">The Lounge</h2>
        <p class="lead">The house contains a large comfortable lounge with a three seater sofa, a two seater sofa and a chair. The lounge also contains a coffee table, a log burning stove and a smart TV.</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Images/Second Living Room.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" title="The main lounge" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">The Kitchen</h2>
        <p class="lead">The kitchen is well equipped for cooking, it contains an oven, a hob, a fridge-freezer, a microwave and a toaster, as well as a washing machine and a dishwasher. The house also comes with a large array of kitchen utensils such as pots, pans and cutlery. There is also a bar stool seating area with beautiful views of the garden.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Images/kitchen.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" title="The kitchen" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">The Garden</h2>
        <p class="lead">Enclosed garden with a patio and a picnic bench, as well as a shed for bike storage and a washing line.</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Images/Back Garden 2.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" title="One of the many views of the garden" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">The Bedrooms</h2>
        <p class="lead">There are several bedrooms available to use. The first bedroom contains a double bed with bedding and duvets, a wardrobe, dressing table, TV & a hairdryer. <br />Bedroom 2 contains twin beds with bedding and duvets with a wardrobe. <br />Bedroom three contains a double bed with duvets and bedding as well as a wardrobe. <br /> The bathroom contains a bath with an overhead shower, a wash basin and a toilet, towels supplied. There is also an additional shower cubicle in its own room. </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Images/Bedroom 1.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" title="One of the main bedrooms with a double bed" />
    </div>
</div>
