
@{
    ViewData["Title"] = "TheHosts";
}

<main role="main">
    <div class="jumbotron p-4 p-md-5 text-white rounded homeMain" style="background-image: url('../images/horses.jpg'); min-height:300px; image-rendering: unset;">
        <div class="col-md-6 px-0">

            <h1 class="display-4 font-weight-light"></h1>
            <p class="lead my-3"></p>
            <p class="lead mb-0"></p>
        </div>
    </div>
<div class="py-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 class="mb-4">About The Hosts</h2>
                <p>
                    Heather and David live on site with their two daughters in a barn conversion adjacent to the cottage. They operate and equestrian small holding and have 6 horses on site. <br />
                    To complete the family they have a spaniel named Bracken and two dashunds, chloe and ruby. <br/>
                    They are able to give advice and guidance, when required.
                </p>
                <p>
                    Bookings <br />

                    For availablity and prices please go to <a href="https://www.yorkshire-cottages.info">our booking page</a>
                </p>
            </div> 
        </div>
    </div>
</div>
<div class="col-12" style="display:inline; padding-bottom:10px; margin-bottom:10px;">

    <div class="col-5" style="float:left;">
        <a class="btn btn-success" asp-controller="Home" asp-action="Index"> Home Page</a>
    </div>

    <div class="col-6" style="float:left">
        <a class="btn btn-success" asp-controller="Home" asp-action="HowToBook"> How To Book</a>
    </div>

</div>


    
</main>