
@{
    ViewData["Title"] = "TheHosts";
}

<main role="main">
    <div class="jumbotron p-4 p-md-5 text-white rounded homeMain" style="background-image: url('images/back garden 1.jpg');">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-weight-light">Carlton Grange Farm</h1>
            <p class="lead my-3">Welcome to Carlton Grange Farm, this is a website showcasing all the benefits of the house and how to book a room.<br /> Feel free to have a look around.</p>
            <p class="lead mb-0"><a asp-controller="Home" asp-action="HowToBook" class="text-white font-weight-bold">How To Book</a></p>
        </div>
    </div>
</main>
<div class="py-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 class="mb-4">About The Hosts</h2>
                <p>
                    P1
                </p>
                <p>
                    P2
                </p>
                <p>
                    P3
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-12" style="display:inline;">

    <div class="col-6" style="float:left;">
        <a class="btn btn-primary" asp-controller="Home" asp-action="TheArea"> Find Out More</a>
    </div>

    <div class="col-6" style="float:left">
        <a class="btn btn-primary" asp-controller="Home" asp-action="TheArea"> Find Out More</a>
    </div>

</div>


