
@{
    ViewData["Title"] = "TheHosts";
}

<main role="main">
    <div class="jumbotron p-4 p-md-5 text-white rounded homeMain" style="background-image: url('../images/horses.jpg'); min-height:300px; image-rendering: unset;">
        <div class="col-md-6 px-0">

            <h1 class="display-4 font-weight-light"></h1>
            <p class="lead my-3"></p>
            <p class="lead mb-0"></p>
        </div>
    </div>
<div class="py-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 class="mb-4">About The Hosts</h2>
                <p>
                    There are plenty of walking routes that can be accessed from the Cottage as well as many stunning walks nearby including walking to the top of the witches hat at Roseberry Toppin, following the route of the Cleveland Way along the coast or just strolling through some of the most beautiful countryside the North York Mors has to offer.
                </p>
                <p>
                    This is a perfect location from which to explore the national park as well as the Heritage Coast of Yorkshire and the many nearby villages. Great Ayton is a wonderful place for picnics and feeding the ducks, and the streets are lined with tea rooms and fascinating shops. Captain James Cook was born here and a visit to the museum is a must. <br />
                    The national park visitors centre in Danby is worth a visit with lots of things to do for the whole family, explore one of the numerous abbeys or even take a trip on a steam train through the countryside.
                </p>
                <p>
                    There are many coastal villages hidden in bays and coves along the Heritage Coast such as Staithes, Robin Hoods Bay and Runswick Bay, but most famous of is probably the popular fishing town of Whitby with its cobbled shopping streets, the towering abbey and its links to Count Dracula. <br />
                    There are many country pubs in the area with a wide range of menus on offer from Thai to steak houses as well as quaint tearooms and ice cream parlours in villages such as Sokesley, Helmsley and Pickering. For those wishing to get out and about a little further afield there are plenty of things to see and do such as the Beamish Open Ait Museum, Eden Camp War Museum and the walled city of York, all within easy driving distances. Beach 18 1/4 miles, Shop 2 miles, pub and restaurant 1 1/2 miles.
                </p>
            </div> 
        </div>
    </div>
</div>
<div class="col-12" style="display:inline; padding-bottom:10px; margin-bottom:10px;">

    <div class="col-5" style="float:left;">
        <a class="btn btn-success" asp-controller="Home" asp-action="Index"> Home Page</a>
    </div>

    <div class="col-6" style="float:left">
        <a class="btn btn-success" asp-controller="Home" asp-action="HowToBook"> How To Book</a>
    </div>

</div>


    
</main>