body {
    background-color:whitesmoke;
}

.homeMain {
    margin-top: 20px;
    background-size: cover;
}

.imgCircle{
    background-size: cover;
    margin-top:10px;
}

.listing {
    margin-bottom: 3%;
}

.thumbnailHeader{
    display:inline;
    font-size:16px;
}

.thumbnailText{
    font-size:14px;
}

.listingThumbnail {
    float: left;
    margin: 15px;
    padding:15px;
    min-height: 120px;
    max-height: 300px;
    width: 29.5%;
    border-radius: 10px;
    background-color: white;
    border: 1.5px solid #dee2e6;
}

.QLButton {
    width: 40%;
    padding: 5px;
    float: left;
    border-radius: 5px;
    text-align:center;
}
.DButton {
    width: 40%;
    padding: 5px;
    float: right;
    border-radius: 5px;
    text-align: center;
}

.filterTitle {
    padding: 3px;
    border-radius: 5px;
}

.filterSection{
    padding-right:10px;
    padding-left:10px;
}